[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anytree = "*"
binarytree = "*"
networkx = "*"
pandas = "*"
pyright = "*"

[dev-packages]
python-dotenv = "*"
cloudinary = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
